
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-toggler " style="background-color:gold">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="color:black;font-family:Bahnschrift;font-size:xx-large" href="#"><strong>FOODS</strong></a>
            </div>
            <ul class="nav navbar-nav"  >
                <li><a href="/Category/GetAllCategory" style="color:black;font-size:larger;font-family:Bahnschrift"><strong>Category</strong></a></li>
                <li><a href="/Food/GetAllFood" style="color:black;font-size:larger;font-family:Bahnschrift"><strong>Food</strong></a></li>
                <li><a href="/Chart/GetPieChartProductStock" style="color:black;font-size:larger;font-family:Bahnschrift"><strong>Pie Chart</strong></a></li>
                <li><a href="/Chart/GetColumnChartProductPrice" style="color:black;font-size:larger;font-family:Bahnschrift"><strong>Column Chart</strong></a></li>
                <li><a href="/Chart/Statistics" style="color:black;font-size:larger;font-family:Bahnschrift"><strong>Statistics</strong></a></li>
                <li><a href="/Login/logOut" style="color:white;font-size:larger;font-family:Bahnschrift;background-color:orangered"><strong>LogOut</strong></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
       @RenderBody()
    </div>

</body>
</html>

