
@{
    Layout = null;
}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Grocery Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="~/web/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/web/js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/web/js/move-top.js"></script>
    <script type="text/javascript" src="~/web/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- header -->
    <div class="agileits_header">
        <div class="w3l_offers">
            <a href="#">Bugüne Özel %15 Özel İndirim !</a>
        </div>      
        <div class="w3l_header_right1">
            <h2><a href="#">07:00 - 23.00 Online Sipariş</a></h2>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- script-for sticky-nav -->
    <script>
        $(document).ready(function() {
             var navoffeset=$(".agileits_header").offset().top;
             $(window).scroll(function(){
                var scrollpos=$(window).scrollTop();
                if(scrollpos >=navoffeset){
                    $(".agileits_header").addClass("fixed");
                }else{
                    $(".agileits_header").removeClass("fixed");
                }
             });

        });
    </script>
    <!-- //script-for sticky-nav -->
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left">
                <h1><a href="#"><span>SERT FAMILY</span>Mağazamız</a></h1>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="special_items">
                    <li><a href="/Store/Index/">Ana Sayfa</a><i>/</i></li>
                    <li><a href="#footer">Hakkımızda</a><i>/</i></li>
                    <li><a href="products.html">Lezzetli Tarifler</a><i>/</i></li>
                    <li><a href="services.html">Hizmetlerimiz</a></li>
                </ul>
            </div>
            <div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>(+212) 456 567</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:muhammedsert098@gmail.com">muhammedsert098@gmail.com</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- banner -->
    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                @await Component.InvokeAsync("GetAllCategory") <!-- Oluşturduğumuz View Componenti çağırıyoruz. -->
               <!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="w3l_banner_nav_right">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides"> 
                        <li>
                            <div class="w3l_banner_nav_right_banner">
                                <h3>SİZİN İÇİN<span>ÖZENLE HAZIRLADIĞIMIZ PAKETLERDE</span>SERT FAMILY KALİTESİYLE..</h3>
                                <div class="more">
                                    <a href="/Store/GetFoodByCategory/4" class="button--saqui button--round-l button--text-thick" data-text="Şimdi Al">Şimdi Al</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner1">
                                <h3>DAHA İYİSİNE<span>LAYIKSINIZ</span>ÇÜNKÜ BUNA DEĞERSİNİZ.</h3>
                                <div class="more">
                                    <a href="/Store/GetFoodByCategory/2" class="button--saqui button--round-l button--text-thick" data-text="Şimdi Al">Şimdi Al</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="w3l_banner_nav_right_banner2" >
                                <h3 >BU YAZA ÖZEL<i>TÜM SOĞUK İÇECEKLERİMİZDE</i>%50 İNDİRİM.</h3>
                                <div class="more">
                                    <a href="/Store/GetFoodByCategory/31" class="button--saqui button--round-l button--text-thick" data-text="Şimdi Al">Şimdi Al</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- flexSlider -->
            <link rel="stylesheet" href="~/web/css/flexslider.css" type="text/css" media="screen" property="" />
            <script defer src="~/web/js/jquery.flexslider.js"></script>
            <script type="text/javascript">
                $(window).load(function(){
                  $('.flexslider').flexslider({
                    animation: "slide",
                    start: function(slider){
                      $('body').removeClass('loading');
                    }
                  });
                });
            </script>
            <!-- //flexSlider -->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- banner -->
    <div class="banner_bottom">
        <div class="wthree_banner_bottom_left_grid_sub">
        </div>
        <div class="wthree_banner_bottom_left_grid_sub1">
            <div class="col-md-4 wthree_banner_bottom_left">
                <div class="wthree_banner_bottom_left_grid">
                    <img src="~/web/images/4.jpg" alt=" " class="img-responsive" />
                    <div class="wthree_banner_bottom_left_grid_pos">
                        <h4>Word'e Özel<span>25%</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wthree_banner_bottom_left">
                <div class="wthree_banner_bottom_left_grid">
                    <img src="~/web/images/5.jpg" alt=" " class="img-responsive" />
                    <div class="wthree_banner_btm_pos">
                        <h3>En Çok Sevilen<span>Özenle Seçtiğimiz</span><i>Paketli Ürünlerimiz..</i></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wthree_banner_bottom_left">
                <div class="wthree_banner_bottom_left_grid">
                    <img src="~/web/images/6.jpg" alt=" " class="img-responsive" />
                    <div class="wthree_banner_btm_pos1">
                        <h3>Taze<span>ve Ferah..</span></h3>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- top-brands -->
    <div class="top-brands">
        <div class="container">
            <h3>Ürünlerimiz</h3>
            @await Component.InvokeAsync("GetFoodByCategory", new { id = ViewBag.CategoryID }) @* Tıklanan Categoriye ait ID numarasını Controller tarafından buraya taşıyoruz.*@
        </div>
    </div>
    <!-- //top-brands -->
    <!-- fresh-vegetables -->
    <!-- //fresh-vegetables -->
    <!-- newsletter -->
    
    <!-- //newsletter -->
    <!-- footer -->
    <div class="footer" id="footer">
        <div class="container">
            <div class="col-md-3 w3_footer_grid">
                <h3>Yönetİcİ ve Kurucu Ortaklarımız</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="#">Muhammed Sert</a></li>
                    <li><a href="#">Feyza Koç</a></li>
                    <li><a href="#">Oğuz Sert</a></li>
                    <li><a href="#">Tülay Sert</a></li>
                    <li><a href="#">Mustafa Sert</a></li>
                    <li><a href="#">Furkan Doğan Sert</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Onurlarımız</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="#">Türkiyenin en çok satan 6. online e-ticaret sitesi </a></li>
                    <li><a href="#">En çok tıklanan içeçekler kategorisinde 4. sırada</a></li>
                    <li><a href="#">En çok kurye gönderen firmalar arasında 2.sırada</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Anlaşmalı Fİrmalarımız</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="#">Bagdat Baharat</a></li>
                    <li><a href="#">Dimes Meyvesuyu</a></li>
                    <li><a href="#">Monster Enerji İçecekleri</a></li>

                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Hakkımızdakİ Yorumlarınız</h3>
                <ul class="w3_footer_grid_list1">
                    <li>
                        <label class="fa fa-twitter" aria-hidden="true"></label><i>3 Gün Önce</i><span>
                            <strong>Cevat Güngör</strong><br />
                            Genel olarak ben sadece sebze siparişi veriyorum genelde biraz pahallı gibi gelsede ürünleri çok kaliteli.
                            
                        </span>
                    </li>
                    <li>
                        <label class="fa fa-twitter" aria-hidden="true"></label><i>1 Hafta Önce</i><span>
                           <strong>Azmi Sert</strong><br />
                            Annem ve Babama buradan alışveriş yapıyorum. Kendimde özellikle içecek siparişi veriyorum.
                            Taksit seçenekleri olmasada fena değiller.                          
                        </span>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="agile_footer_grids">
                <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                    <div class="w3_footer_grid_bottom">
                        <h4>100% secure payments</h4>
                        <img src="~/web/images/card.png" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                    <div class="w3_footer_grid_bottom">
                        <h5>connect with us</h5>
                        <ul class="agileits_social_icons">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="wthree_footer_copy">
                <p>© 2024 Muhammed SERT | Asp.Net Core MVC <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/web/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".dropdown").hover(
                function() {
                    $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

            });
    </script>
    <!-- //here ends scrolling icon -->
    <script src="~/web/js/minicart.js"></script>
    <script>
        paypal.minicart.render();

        paypal.minicart.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });

    </script>
</body>
</html>
