@model IEnumerable<AspNetCoreFood.Models.Category>


<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
    <ul class="nav navbar-nav nav_1">
       
        @foreach(var c in Model)
        {
            <li><a href="/Store/GetFoodByCategory/@c.CategoryID">@c.CategoryName</a></li>
        }

    </ul>
</div><!-- /.navbar-collapse -->
